body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffea93+0,e84b1f+100 */
  // background: #ffea93; /* Old browsers */
  // background: -moz-linear-gradient(-45deg, #ffea93 0%, #e84b1f 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg, #ffea93 0%,#e84b1f 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg, #ffea93 0%,#e84b1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea93', endColorstr='#e84b1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow-x: hidden;
  font-family: $font;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColorPrimary;
  // background-image: url(../assets/pattern.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $linkHoverColor;
  }
}
* {
  outline: none;
}
h1 {
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
  font-weight: $h1FontWeight;
}
h2 {
  font-size: $h2FontSize;
  line-height: $h2LineHeight;
}
h3 {
  font-size: $h3FontSize;
  line-height: $h3LineHeight;
}
h4 {
  font-size: $h4FontSize;
  line-height: $h4LineHeight;
}
h5 {
  font-size: $h5FontSize;
  line-height: $h5LineHeight;
}
h6 {
  font-size: $h6FontSize;
  line-height: $h6LineHeight;
}
img {
  width: inherit;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
figure {
  margin: 0;
}
