// GRID
$container: 1200px;
$gutter: 30px;
$xl: 1600px;
$lg: $container;
$md: 990px;
$sm: 768px;
$xs: 576px;

// COLORS
$textColorPrimary: #555;
$linkColor: #e84b1f;
$linkHoverColor: darken($linkColor, 10%);

$green: #5cb85c;

// FONT
$font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$fontSize: 1rem;
$lineHeight: 1.2;
$fontWeight: normal;
/*h1*/
$h1FontSize: 3.4rem;
$h1LineHeight: 4rem;
$h1Color: $textColorPrimary;
/*h2*/
$h2FontSize: 2.8rem;
$h2LineHeight: 3.4rem;
$h2Color: $textColorPrimary;
/*h3*/
$h3FontSize: 2rem;
$h3LineHeight: 2.4rem;
$h3Color: $textColorPrimary;
/*h4*/
$h4FontSize: 1.8rem;
$h4LineHeight: 2rem;
$h4Color: $textColorPrimary;
/*h5*/
$h5FontSize: 1.6rem;
$h5LineHeight: 2rem;
$h5Color: $textColorPrimary;
/*h6*/
$h6FontSize: 1.6rem;
$h6LineHeight: 2rem;
$h6Color: $textColorPrimary;
